[[source]]
name = "pypi"
url = "https://pypi.doubanio.com/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
v = {editable = true,version = "*"}

[packages]
pyinstaller = "*"
pywin32 = "*"
wxpython = "*"
sgf = "*"

[requires]
python_version = "3.8"
