[[source]]
name = "pypi"
url = "https://pypi.doubanio.com/simple"
verify_ssl = true

[dev-packages]
pyinstaller = "*"
yapf = "*"

[packages]
pywin32 = "*"
wxpython = "*"
sgf = "*"

[requires]
python_version = "3.7"
